# This adds mysql servers
DELETE FROM mysql_servers;
{%- for node in groups['database'] %}
  INSERT INTO mysql_servers(hostgroup_id, hostname, port) VALUES (0, {{ hostvars[node]['ansible_default_ipv4']['address'] }}, 3306);
{% endfor -%}

# This updates the monitor username/pass
UPDATE global_variables SET variable_value='{{ proxysql_monitor_username }}' WHERE variable_name='mysql-monitor_username';
UPDATE global_variables SET variable_value='{{ proxysql_monitor_username }}' WHERE variable_name='mysql-monitor_password';
LOAD MYSQL VARIABLES TO RUNTIME;
SAVE MYSQL VARIABLES TO DISK;
LOAD MYSQL SERVERS TO RUNTIME;

#TODO: Add the Cluster users to access this

# This updates the scheduler
DELETE FROM scheduler;
INSERT INTO scheduler(id,interval_ms,filename,arg1,arg2,arg3,arg4)
  VALUES
  (1,'10000','/usr/bin/proxysql_galera_checker','127.0.0.1','6032','0',
  '/var/lib/proxysql/proxysql_galera_checker.log');
LOAD SCHEDULER TO RUNTIME;
